<div class="content">
    <h1>Vuelos</h1>
    <div class="options">
      <div class="option-group">
        <label for="tipo-vuelo">Tipo de vuelo:</label>
        <select id="tipo-vuelo" class="tipo-vuelo" (change)="onTipoVueloChange($event)">
          <option value="ida-vuelta" selected>Ida y vuelta</option>
          <option value="solo-ida">Solo ida</option>
        </select>
      </div>
      <div class="passenger-selector">
        <label for="personas">Personas:</label>
        <select id="personas">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </div>
      <div class="class-selector">
        <label for="clase">Clase:</label>
        <select id="clase">
          <option value="turista">Turista</option>
          <option value="business">Buisness</option>
        </select>
      </div>
    </div>
  
    <form>
      <!-- Origen -->
      <div class="form-group">
        <label for="origen">Origen:</label>
        <select id="origen" (change)="filterAeropuertos($event, false)">
          <option value="">Selecciona un aeropuerto</option>
          <option *ngFor="let aeropuerto of filteredAeropuertosOrigen" [value]="aeropuerto">
            {{ aeropuerto }}
          </option>
        </select>
      </div>
  
      <!-- Destino -->
      <div class="form-group">
        <label for="destino">Destino:</label>
        <select id="destino" (change)="filterAeropuertos($event, true)">
          <option value="">Selecciona un aeropuerto</option>
          <option *ngFor="let aeropuerto of filteredAeropuertosDestino" [value]="aeropuerto">
            {{ aeropuerto }}
          </option>
        </select>
      </div>
  
      <div class="form-group">
        <div class="form-item">
          <label for="fecha-salida">Salida:</label>
          <input type="date" id="fecha-salida">
        </div>
        <div class="form-item" *ngIf="mostrarFechaVuelta">
          <label for="fecha-vuelta">Vuelta:</label>
          <input type="date" id="fecha-vuelta">
        </div>
      </div>
  
      <div class="button-group">
        <button type="submit" class="pill">Explorar</button>
      </div>
    </form>
  </div>
