<div class="content">
  <h1>✈️ Vuelos</h1> <!-- Agregado emoji de avión -->
  <div class="options">
      <div class="option-group">
          <label for="tipo-vuelo">Tipo de vuelo: 🌍</label> <!-- Emoji de globo terráqueo -->
          <select id="tipo-vuelo" class="tipo-vuelo" (change)="onTipoVueloChange($event)">
              <option value="ida-vuelta" selected>Ida y vuelta</option>
              <option value="solo-ida">Solo ida</option>
          </select>
      </div>
      <div class="passenger-selector">
          <label for="personas">Personas: 👨‍👩‍👧‍👦</label> <!-- Emoji de familia -->
          <select id="personas">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
          </select>
      </div>
      <div class="class-selector">
          <label for="clase">Clase: 🛋️</label> <!-- Emoji de sofá -->
          <select id="clase">
              <option value="turista">Turista</option>
              <option value="business">Business</option>
          </select>
      </div>
  </div>

  <form>
      <!-- Origen -->
      <div class="form-group">
          <label for="origen">Origen: 📍</label> <!-- Emoji de ubicación -->
          <select id="origen" (change)="filterAeropuertos($event, false)">
              <option value="">Selecciona un aeropuerto</option>
              <option *ngFor="let aeropuerto of filteredAeropuertosOrigen" [value]="aeropuerto">
                  {{ aeropuerto }}
              </option>
          </select>
      </div>

      <!-- Destino -->
      <div class="form-group">
          <label for="destino">Destino: 🎯</label> <!-- Emoji de diana -->
          <select id="destino" (change)="filterAeropuertos($event, true)">
              <option value="">Selecciona un aeropuerto</option>
              <option *ngFor="let aeropuerto of filteredAeropuertosDestino" [value]="aeropuerto">
                  {{ aeropuerto }}
              </option>
          </select>
      </div>

      <div class="form-group">
          <div class="form-item">
              <label for="fecha-salida">Salida: 📅</label> <!-- Emoji de calendario -->
              <input type="date" id="fecha-salida">
          </div>
          <div class="form-item" *ngIf="mostrarFechaVuelta">
              <label for="fecha-vuelta">Vuelta: 🔙</label> <!-- Emoji de regreso -->
              <input type="date" id="fecha-vuelta">
          </div>
      </div>

      <div class="button-group">
          <button type="submit" class="pill">🔍 Explorar</button> <!-- Agregado emoji de lupa -->
      </div>
  </form>
</div>
