<main class="main" *ngIf="showMainContent">
  <div class="content">
    <h1>🌎 Viajes Global</h1>
    <p>¡Bienvenido a nuestra plataforma! 🌟</p>
    <!-- Agregar GIF llamativo -->
    <div class="gif-container">
      <img src="https://i.pinimg.com/originals/51/8c/9c/518c9c767f65fdfc0dd09e4995d8b89e.gif" alt="GIF de Viajes" class="welcome-gif" />
    </div>
    <div class="pill-group">
      <a [routerLink]="['/registrar']" class="pill">📝 Registrarme</a>
      <a [routerLink]="['/login']" class="pill">🔑 Iniciar Sesión</a>
    </div>
  </div>
</main>

<!-- Router outlet donde se cargarán los componentes de registro y login -->
<router-outlet></router-outlet>
