<button (click)="goToDashboard()" class="menu-button">Menú</button>
<button (click)="navigateToCarrito()"  class="carrito-button">🛒 Carrito</button> <!-- Nuevo botón de Carrito -->
<div class="actividad-container">
    <h1>Actividades</h1>
    <form>
<div>
    <h2>Buscar Actividades</h2>
    <div class="form-group">
        <label for="ciudad">🌆 Ciudad:</label>
        <select id="ciudad" [(ngModel)]="selectedCiudad" name="ciudad" (change)="filterCiudades($event)">
            <option value="">Selecciona una ciudad</option>
            <option *ngFor="let ciudad of filteredCiudades" [value]="ciudad">{{ ciudad }}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="fecha">📅 Fecha:</label>
        <input type="date" id="fecha" [(ngModel)]="selectedFecha" name="fecha" />
    </div>
    <button type="button" class="pill" (click)="buscarActividades()">Buscar actividades</button>
</div>
</form>
</div>

  