<div class="dashboard-container">
  <div class="header">
    <div class="header-buttons">
      <button (click)="navigateToVuelos()">
        ✈️ Vuelos
      </button>
      <button (click)="navigateToAlojamientos()">
        🏨 Alojamientos
      </button>
      <button (click)="navigateToActividades()">
        🎉 Actividades
      </button>
      <button (click)="navigateToTraslados()">
        🚗 Traslados
      </button>
    </div>
  </div>
  <div class="welcome-message">
    <h1>Bienvenido, {{ usuarioNombre }}!</h1>
  </div>
</div>
