<div class="alojamiento-container">
  <div class="header">
  <h2>Alojamientos Disponibles</h2>
  </div>
  <div *ngIf="alojamientos.length > 0; else noAlojamientos">
    <div *ngFor="let alojamiento of alojamientos" class="alojamiento-card">
      <!-- Título del alojamiento -->
      <h3>{{ alojamiento.nombreHotel }}</h3>

      <!-- Ubicación y precio -->
      <p>Ubicación: {{ alojamiento.ciudad }}
      Dirección: {{ alojamiento.direccion }}</p>
      <P>Descripcion:  {{ alojamiento.descripcion }} </P>
      <p>Precio por noche: {{ alojamiento.precioNoche | currency }}</p>
      <p>Precio total para {{ noches }} noches: {{ (alojamiento.precioNoche * noches) | currency }}</p>
      <p>Estrellas: {{ alojamiento.estrellas }}</p>

      <!-- Deslizador de imágenes -->
      <div class="image-slider" *ngIf="alojamiento.fotos.length > 0">
        <button (click)="anteriorImagen(alojamiento)" class="slider-button">❮</button>
        <img [src]="alojamiento.fotos[alojamiento.imagenActual]" alt="Foto de {{ alojamiento.nombreHotel }}" width="200" height="150">
        <button (click)="siguienteImagen(alojamiento)" class="slider-button">❯</button>
      </div>

      <!-- Servicios -->
      <div *ngIf="alojamiento.servicios.length > 0" class="servicios">
        <h4>Servicios:</h4>
        <ul>
          <li *ngFor="let servicio of alojamiento.servicios">{{ servicio }}</li>
        </ul>
      </div>

      <!-- Información de capacidad máxima -->
      <p>Capacidad máxima: {{ alojamiento.cantidadPersonasMax }} personas</p>

          <ng-container *ngFor="let habitacion of alojamiento.habitaciones">
           
          </ng-container>

      <!-- Botón para agregar al carrito -->
      <div class="button-group">
        <button class="button add-cart" (click)="agregarAlCarrito(alojamiento)">Agregar al carrito</button>
      </div>
    </div>
  </div>

  <ng-template #noAlojamientos>
    <p>No hay alojamientos disponibles para los parámetros seleccionados.</p>
  </ng-template>
</div>