<button (click)="goToDashboard()" class="menu-button">Menú</button>
<button (click)="navigateToCarrito()"  class="carrito-button">🛒 Carrito</button> <!-- Nuevo botón de Carrito -->
<div class="alojamiento-container">
  <h1>🏨 Alojamientos</h1>
  <form>
    <!-- Ciudad -->
    <div class="form-group">
      <label for="ciudad">🌆 Ciudad:</label>
      <select id="ciudad" [(ngModel)]="selectedCiudad" name="ciudad" (change)="filterCiudades($event)">
        <option value="">Selecciona una ciudad</option>
        <option *ngFor="let ciudad of filteredCiudades" [value]="ciudad">{{ ciudad }}</option>
      </select>
    </div>

    <!-- Fechas de entrada y salida -->
    <div class="form-group">
      <div class="form-item">
        <label for="fecha-entrada">📅 Fecha de Entrada:</label>
        <input type="date" id="fecha-entrada" [(ngModel)]="fechaEntrada" name="fechaEntrada">
      </div>
      <div class="form-item">
        <label for="fecha-salida">📅 Fecha de Salida:</label>
        <input type="date" id="fecha-salida" [(ngModel)]="fechaSalida" name="fechaSalida">
      </div>
    </div>

    <!-- Botón de búsqueda -->
    <div class="button-group">
      <button type="button" class="pill" (click)="buscarAlojamientos()">🔍 Buscar</button>
    </div>
  </form>
</div>
