<div class="content">
  <h2>🚖 Reservar Traslado</h2>

  <!-- Selección para Aeropuerto -->
  <div class="form-group">
    <label>
      <input type="radio" (change)="setAeropuertoOrigen()" name="aeropuertoSeleccion" />
      ✈️ Desde el Aeropuerto
    </label>
    <label>
      <input type="radio" (change)="setAeropuertoDestino()" name="aeropuertoSeleccion" />
      ✈️ Hacia el Aeropuerto
    </label>
  </div>

  <!-- Selección de Origen y Destino -->
  <div class="form-group row">
    <div class="form-item">
      <label for="origen">🌍 Origen:</label>
      <ng-container *ngIf="esHastaAeropuerto; else ciudadOrigenInput">
        <input type="text" id="origen" [(ngModel)]="selectedCiudadOrigen" placeholder="Introduce el origen" required />
      </ng-container>
      <ng-template #ciudadOrigenInput>
        <select [(ngModel)]="selectedCiudadOrigen" id="ciudad-select">
          <option *ngFor="let ciudad of ciudades" [value]="ciudad">{{ ciudad }}</option>
        </select>
      </ng-template>
    </div>

    <div class="form-item">
      <label for="destino">📍 Destino:</label>
      <ng-container *ngIf="esDesdeAeropuerto; else ciudadDestinoInput">
        <input type="text" id="destino" [(ngModel)]="selectedCiudadDestino" placeholder="Introduce el destino" required />
      </ng-container>
      <ng-template #ciudadDestinoInput>
        <select [(ngModel)]="selectedCiudadDestino" id="destino-select">
          <option *ngFor="let ciudad of ciudades" [value]="ciudad">{{ ciudad }}</option>
        </select>
      </ng-template>
    </div>
  </div>

  <!-- Selección de Fecha y Hora -->
  <div class="form-group row">
    <div class="form-item">
      <label for="fecha-traslado">📅 Fecha:</label>
      <input type="date" id="fecha-traslado" [(ngModel)]="fechaTraslado" required />
    </div>
    <div class="form-item">
      <label for="hora-traslado">🕒 Hora:</label>
      <input type="time" id="hora-traslado" [(ngModel)]="horaTraslado" required />
    </div>
  </div>

  <!-- Botón de Enviar -->
  <button type="submit" class="pill" (click)="buscarTraslados()">🚀 Buscar Traslados</button>
</div>
